body {
    background-color: #f8f9fa;
}

.card-post-it {
    margin-bottom: 1rem;
    padding: 1rem;
    color: #212529;
    border-left: 6px solid #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
